* {
   box-sizing: border-box; 
}

body {
    margin: 0px;
    width: 1920px;
    height: 2464px;
    background: rgb(249, 249, 249);
    font-family: Arial, Helvetica, sans-serif;
}

.first_container {
    height: 700px;
    background: rgb(238, 239, 241);
} 

.container_nav_menu {
    width: 1915px;
    height: 257px;
    padding: 79px 870px 151px 399px;
    background: rgb(238, 239, 241);
}

.container_menu {
    display: inline-block;
    width: auto;
}

.style_menu {
    padding-right: 42px;
    /* font-family: Arial, Helvetica, sans-serif; */
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    text-align: left;
    text-transform: uppercase;
    text-decoration: none;
}

.style_for_homepage {
    font-weight: 500;
    color: rgb(52, 84, 122);
}

.style_for_contacts {
    padding-right:  0px;
}

.page_title {
    height: 105px;
    padding: 0px 980px 60px 399px;
    /* font-family: Arial, Helvetica, sans-serif; */
    font-size: 48px;
    font-weight: 500;
    line-height: 56px;
    text-align: left;
}

.first_screen_text {
    height: 132px;
    padding: 0px 980px 65px 400px;
    /* font-family:  Arial, Helvetica, sans-serif; */
    color: rgb(114, 114, 114);
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    text-align: left;
}

form {
    height: 206px;
    padding-left: 399px;
    padding-bottom: 141px;
}

.first_screen_button {
    width: 225px;
    height: 65px;
    padding: 16px 41px 23px;
    background: rgb(52, 84, 122);
    color: rgb(255, 255, 255);
    /* font-family: Arial, Helvetica, sans-serif; */
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 1px;
    text-align: center;
    cursor: pointer;
    border: none;
}

.container_about_me {
    height: 359px;
    padding: 112px 690px 100px;
}

.style_about_me {
    height: 80px;
    padding-bottom: 50px;
    /* font-family: Arial, Helvetica, sans-serif; */
    font-size: 32px;
    font-weight: 500;
    line-height: 38px;
    text-align: center;
}

.style_text_about_me {
    height: 67px;
    color: rgb(114, 114, 114);
    /* font-family: Arial, Helvetica, sans-serif; */
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    text-align: center;
}

.container_numbers {
    height: 250px;
    background: rgb(52, 84, 122);
    padding: 100px 0px;
    text-align: center;
}

/* copy */
.container {
    margin: 0 auto;
    max-width: 1200px;
}

.project-group {
    font-size: 0;
}

.project {
    font-size: 14px;
    display: inline-block;
    width: calc(100% / 6);
}

.project-heading {
    font-size: 20px;
}

.project-group img {
    width: 50px;
    height: 50px;
    display: inline-block;
    margin-right: 10px;
}

.project-info {
    color: #ffffff;
    display: inline-block;
}
/* copy end */

/* .container_for_png {
    display: inline-block;
    padding-right: 49px;
} */

.container_how_do_I_work {
    height: 304px;
    padding: 100px 690px 57px;
}

.style_how_do_I_work {
    height: 80px;
    padding-bottom: 50px;
    /* font-family: Arial, Helvetica, sans-serif; */
    font-size: 32px;
    font-weight: 500;
    line-height: 38px;
    text-align: center;
}

.style_text_how_do_I_work {
    height: 67px;
    color: rgb(114, 114, 114);
    /* font-family: Arial, Helvetica, sans-serif; */
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    text-align: center;
}

.container_video {
    height: 700px;
    padding: 0px 405px 100px;
}

.container_footer {
    height: 151px;
    padding-top: 50px;
    padding-left: 406px;
    background: rgb(52, 84, 122);
}

.footer_text_1 {
    color: rgb(255, 255, 255);
    font-size: 21px;
    font-weight: 500;
    line-height: 25px;
}

.footer_text_2 {
    padding-top: 16px;
    color: rgb(255, 255, 255);
    font-size: 13px;
    font-weight: 400;
    line-height: 15px;
}