@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

* {
    margin: 0;
    box-sizing: border-box;
}

body {
    margin: 0 auto;
    max-width: 1920px;
    font-family:  "Roboto", sans-serif;
    background: rgb(249, 249, 249);
}

.container_header {
    background: rgb(238, 239, 241);
}

.container {
    margin: 0 auto;
    max-width: 1115px;
}

.container_nav_menu {
    padding-top: 79px;
    margin-bottom: 159px;
}

.container_menu {
    display: inline-block;
}

.style_menu {
    padding-right: 42px;
    color: rgb(0, 0, 0);
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    text-align: left;
    text-transform: uppercase;
    text-decoration: none;
}

.style_for_homepage {
    font-weight: 500;
    color: rgb(52, 84, 122);
}

.style_for_contacts {
    padding-right:  0px;
}

.page_title {
    margin-bottom: 49px;
    font-size: 48px;
    font-weight: 500;
    line-height: 56px;
}

.first_screen_text {
    margin-bottom: 94px;
    color: rgb(114, 114, 114);
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    text-align: left;
}

form {
    padding-bottom: 141px;
}

.first_screen_button {
    max-width: 225px;
    min-height: 65px;
    padding: 19px 41px 20px;
    background: rgb(52, 84, 122);
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 2px;
    text-align: center;
    cursor: pointer;
    border: none;
}

.container_about_me {
    margin-top: 112px;
    margin-bottom: 110px;
}

.style_about_me {
    padding-bottom: 42px;
    font-size: 32px;
    font-weight: 500;
    line-height: 38px;
    text-align: center;
}

.style_text_about_me {
    color: rgb(114, 114, 114);
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    text-align: center;
}

.container_numbers {
    background: rgb(52, 84, 122);
    padding-top: 100px;
    padding-bottom: 100px;
}

/* copy */
.project-group {
    font-size: 0;
}

.project {
    font-size: 14px;
    display: inline-block;
    width: calc(100% / 6);
}

.project-heading {
    font-size: 21px;
    font-weight: 500;
    line-height: 25px;  
}

.text_projects {
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
}

.project-group img {
    width: 46.67px;
    height: 50px;
    display: inline-block;
    margin-right: 10px;
}

.project-info {
    color: #ffffff;
    display: inline-block;
}
/* end copy */

.container_how_do_I_work {
    margin-top: 96px;
    margin-bottom: 57px;
}

.style_how_do_I_work {
    margin-bottom: 42px;
    font-size: 32px;
    font-weight: 500;
    line-height: 38px;
    text-align: center;
}

.style_text_how_do_I_work {
    color: rgb(114, 114, 114);
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    text-align: center;
}

.container_video {
    margin-top: 86px;
    margin-bottom: 100px;
    overflow: hidden;
}

.container_footer {
    padding-top: 50px;
    background: rgb(52, 84, 122);
}

.footer_text_1 {
    color: rgb(255, 255, 255);
    font-size: 21px;
    font-weight: 500;
    line-height: 25px;
}

.footer_text_2 {
    padding-top: 20px;
    padding-bottom: 50px;
    color: rgb(255, 255, 255);
    font-size: 13px;
    font-weight: 400;
    line-height: 15px;
}